/* Set mobile-first layout with a black background */
@media (max-width: 767px) {
    body {
        background-color: white;
        color: black;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #app-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    #WriteGenius {
        padding: 10px;
        font-size: 1.5rem;
    }

    #description {
        padding-left: 10px;
        font-size: 1rem;
    }

    #input-field {
        margin: 0 auto;
        margin-top: 50px;
        padding: 10px;
        border: 2px solid orange;
        width: 80%;
        border-radius: 5%;
        height: 150px;
        font-size: 1rem;
        text-align: left;
        display: block;
    }

    #submit-button {
        display: block;
        margin: 30px auto;
        background-color: #DEAF3B;
        color: white;
        font-size: 1rem;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
    }


}